.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.h1 {
  width: 100%;
}

.button {
  width: 128px;
}